.signin {
  font-family: 'Roboto', 'Sans Serif';
  color: #414042;
  border: black 1px solid;
  width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 5px;
  position: relative;
  padding: 10px;

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;

    &-label {
      margin: 5px 0 5px 0;
      font-size: 1.6rem;
    }

    input {
      margin: 5px 0;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      outline: none;
      font-size: 15px;
    }

    &__submit {
      margin-top: 40px;
      height: 50px;
      background-color: #0b6efd;
      font-size: 18px;
      color: #ffffff;
      font-weight: 700;
      border-radius: 3px;
    }
  }

  &__signup__link,
  &__forgotpassword__link {
    color: #126bc5;
    text-decoration: none;
    font-size: 13px;
    margin-top: 5px;
  }
  &__confirmation {
    font-size: 18px;
  }
}
