@import '../../utilities//variables.scss';

.home {
  background-color: $color-main-background;
  &-about {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10rem 10rem;

    &-text-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &-header {
      font-family: $font-main2;
      color: $color-main2;
      font-size: 5rem;
      line-height: 8rem;
    }

    &-img-main {
      z-index: 6;
    }

    &-text {
      font-size: 1.8rem;
      font-family: $font-main;
    }

    &-img-second {
      margin-left: auto;
    }
  }

  &-gift {
    padding: 5rem 10rem;
    position: relative;
    display: flex;
    flex-direction: column;

    &-header {
      font-family: $font-main2;
      color: $color-main2;
      font-size: 5rem;
      line-height: 8rem;
      margin: 0 auto;
    }

    &-images {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      margin: 2rem auto;
      width: 100%;

      &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;

        &-text {
          font-family: $font-main;
          font-size: 2.6rem;
          text-align: center;
        }
      }
    }
  }

  &-photo-gal {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;

    &-header {
      font-family: $font-main2;
      color: $color-main2;
      font-size: 5rem;
      line-height: 8rem;
      margin: 0 auto;
    }

    &-gallery {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 2rem auto;

      .gallery-img {
        height: 36rem;
        width: 35.6rem;
        margin: 2rem;
      }
    }
  }

  &-order {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 15rem;
    // margin-top: 5rem;

    .order-today {
      position: relative;
      display: flex;
      flex-direction: column;

      &-header {
        font-size: 6.6rem;
        font-family: $font-main2;
        color: $color-main2;
        margin: 0 auto;
      }

      .order-row {
        position: relative;
        display: flex;
        justify-content: space-around;

        &-img {
          border-radius: 50%;
          border: solid 3px #000000;
          height: 15rem;
          width: 15rem;
        }

        .order-info {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 50%;

          &-header {
            font-size: 2.6rem;
            font-family: $font-main;
          }

          &-text {
            font-size: 1.6rem;
            font-family: $font-main;
          }

          &-phone {
            font-size: 1.6rem;
            font-family: $font-main;
            font-weight: 700;
          }

          &-andshop {
            font-size: 2.6rem;
            font-family: $font-main;
          }
        }
      }
    }
  }

  &-testemonials {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
    // margin: 5rem 0;
    background-color: #ffffff;

    &-header {
      font-size: 6.6rem;
      font-family: $font-main2;
      color: $color-main2;
      margin: 0 auto 5rem auto;
    }

    &-text-wrapper {
      position: relative;
      display: flex;
      justify-content: space-evenly;

      .testemonials-item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 35%;
        text-align: center;

        &-quote {
          margin: 0 auto;
          color: $color-main2;
        }

        .testemonials-header {
          font-size: 2.4rem;
          font-family: $font-main;
          font-weight: $font-semiBold;
          color: $color-main2;
          margin: 1rem auto;
        }

        .testemonials-text {
          font-size: 1.5rem;
          font-family: $font-main;
          margin: 2rem auto;
        }

        .testemonials-customer-name {
          font-size: 1.4rem;
          font-family: $font-main;
          font-weight: $font-semiBold;
          color: $color-main2;
          margin: 2rem auto 0.5rem auto;
        }

        .testemonials-customer-type {
          font-size: 1.5rem;
          font-family: $font-main;
          margin: 1rem auto;
        }
      }
    }
  }

  &-emailform {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5rem 15rem;

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 5rem 15rem;
      background-color: #ffffff;
      box-shadow: $box-shadow1;
      top: 10rem;
      z-index: 999;
    }

    .emailform-header {
      font-size: 6.6rem;
      font-family: $font-main2;
      color: $color-main2;
    }

    .emailform-text {
      font-size: 1.5rem;
      font-family: $font-main;
      // font-weight: $font-semiBold;
    }

    .emailform-form {
      position: relative;
      display: flex;
      flex-direction: column;

      &-input {
        width: 100%;
        border: 1px solid #c2c2c2;
        border-width: 0 0 1px 0;
        padding: 10px 0;
        font-size: 16px;
        color: #646262;
        margin: 0 0 5rem 0;
      }
    }
  }
}
