.nav-default {
  font-family: 'Roboto', 'Sans Serif';
  width: 95%;
  height: 5rem;
  top: 0;
  margin: 10px auto;
  position: fixed;
  overflow: hidden;
  z-index: 7;
  &__list {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-size: 2.5rem;

    &__item-shop,
    &__item-login {
      margin: 0 1rem 0 0;
      text-decoration: none;
    }
  }
}
