@import '../../../utilities/variables.scss';

.flavors-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  width: 100%;

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $box-shadow1;
    padding: 2rem;
    cursor: pointer;
    width: 25%;

    &-name {
      font-size: 1.5rem;
      font-weight: $font-semiBold;
    }

    &-price {
      font-size: 1.5rem;
      font-weight: $font-semiBold;
    }

    &-img {
      width: 23.8rem;
      height: 23.8rem;
      margin-bottom: 3rem;
    }
  }
}
