@import '../../../utilities/variables.scss';

.product-detail {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10rem 15rem;

  &-toprow {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    .product-img {
      height: 53.2rem;
      width: 53.1rem;
    }

    .product-text-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 5rem;

      &-title {
        font-family: $font-main2;
        color: $color-header-primary;
        font-size: 5.3rem;
        font-weight: $font-bold;
      }

      &-price {
        font-family: $font-main;
        font-size: 2.4rem;
        font-weight: $font-bold;
      }

      &-desc {
        font-family: $font-main;
        font-size: 1.8rem;
        font-weight: $font-regular;
      }

      &-quantity {
        position: relative;
        display: flex;
        justify-content: flex-start;

        .quantity-input {
          height: 4rem;
          width: 4rem;
          margin-right: 0.5rem;
          text-align: center;
        }

        .add-to-cart {
          height: 4rem;
          width: 10rem;
          cursor: pointer;
        }
      }
    }
  }
  .related-section {
    &-header {
      font-family: $font-main2;
      color: $color-header-primary;
      font-size: 5rem;
      font-weight: $font-bold;
    }
  }

  .product-desc-reviews {
    padding: 10rem 3rem;
  }
}
