@import '../../utilities/variables.scss';

.shop {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  padding: 5rem 15rem 10rem 15rem;

  &-header {
    color: $color-main2;
    font-weight: $font-bold;
    font-size: 4rem;
  }

  &-headertext {
    font-family: $font-main;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}
