$color-header-primary: #c34227;

$font-main: 'Poppins', sans-serif;

$font-nav-color: #ffffff;
$font-nav-focus-color: $color-header-primary;
$font-nav-backgroundColor: #000000;

$font-footer-color: #ffffff;
$font-footer-backgroundColor: #000000;

$font-bold: 700;
$font-semiBold: 600;
$font-regular: 400;
