$color-header-primary: #c34227;

$font-main: 'Poppins', sans-serif;
$font-main2: 'Dancing Script', sans-serif;
$color-main2: $color-header-primary;
$color-main-background: #fbf8ef;

$font-nav-color: #ffffff;
$font-nav-focus-color: $color-header-primary;
$font-nav-backgroundColor: #000000;

$font-footer-color: #ffffff;
$font-footer-backgroundColor: #000000;

$font-bold: 700;
$font-semiBold: 600;
$font-regular: 400;
